.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.fullscreen {
  width: 100vw;
  height: 100vh;
}

.comment {
  margin: 30px 0;
}

.post-title {
  font-size: medium;
  color: purple;
  margin: 15px 0;
}

.post-submitted-by {
  font-size: x-small;
  color: #888;
  margin: 15px 0;
}

.post-body {
  background-color: aquamarine;
  padding: 0 15px;
  border-radius: 5px;
  border: #009fb4;

}

.post-vote-score {
  font-size: large;
  color: #888;
  width: 50px;
  display: inline-block;
  top: -200px;
  position: relative;
}

.not-post-vote-score {
  display: inline-block;
  width: 40%;
}

.upper {
  position: relative;
  left: 50px;
}

.lower {
  position: relative;
  left: 20px;
}

.input-box {
  height: 120px;
  width: 300px;
  font-size: medium;
}

.list-of-posts {
  display: inline-block;
}

.submit-post-button {
  position: relative;
  display: inline-block;
  bottom: 100px;
  left: 100px;
}

.add-new-post-input {
  display: block;
}
